#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$1.WKFo9zV0c2Vvxl$zgWh6dmyb629t9mRtcGHeR89jtMeCZIfYtwugKPlU32qxk6GO/YsvbvEh1q2gFPCeLzRjVPiIf2phcIFkwQZG.
# System services
# System timezone
timezone America/New_York --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part swap --fstype="swap" --ondisk=sda --size=1907
part / --fstype="ext4" --ondisk=sda --size=28812
